html{
    height:100%;
}

body{
    height: 100%;
}

#root {
    height: 100%;
}

#baseDiv{
    height: 100%;
}

#baseContainer{
    height: calc(100% - 62px);
}

#row {
    height: 100%;
}

#carouselCol {
    padding-left: 0px;
}

#carousel {
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

#carouselItem {
    height: 100%;
}

#image {
    object-fit: cover;
    height: 100%;
}

#signInForm {
    margin-top: 5%;
    margin-bottom: 5%;
}

.signInButton {
    background-color: #F4F5F7;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 5%;
}