@import "../../node_modules/react-big-calendar/lib/css/react-big-calendar.css";

#topBar {
    height: 120px;
    position: fixed;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #777777;
}

#logo {
    padding-top: 20px;
}

#title {
    line-height: 10vh;
    font-size: 40px;
    color: #777777;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
}

#sideNav {
    padding-top: 15vh;
    position: fixed;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #777777;
}

a, a:hover {
    color: #777777;
}

#calendar {
    padding-top: 200px;
    padding-left: 150px;
}
