#page {
    margin: 10px;
}

#toolbar {
    margin: 10px;
    text-align: center;
}

.complexButton {
    margin: 0 0 0 30px;
}

.btn-group>.btn:first-child {
}

#titleModal {
    text-align: center;
    padding: 5px 240px;
}

#photoModal {
    margin: 20px;
}
.addArtWork-modal {
    width: 70%;
}

.infosModal {
    margin: 50px;
}

#artWorkState {
    margin-top: 10px;
    margin-bottom: 10px;
}

.confirmModal {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#searchBar {
    margin-top: 10px;
}

#search {
    margin-top: 10px;
}

.detailsModalRows {
    margin-top: 20px;
}

.detailsModalCols {
    font-size: 24px;
}

.detailsModalImage {
    max-width: 100%;
}

#ajouter {
    margin-top: 10px;
}

#dropDownFilter {
    margin-top: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
