#billingBackButton {
    position: fixed;
    top: 150px;
    left: 50px;
    z-index: 1;
}

#billingTopBar {
    position: fixed;
}

#billingTopTitle {
    line-height: 10vh;
    font-size: 40px;
    color: #777777;
    text-align: center;
}

.billingJumbotron {
    background-color: #e1e1e1;
    position: relative;
    margin: 0 10% 100px 12%;
    border-radius: 15px;
    padding: 50px 50px;
    z-index: 0;
}

.billingJumbotronTitle {
    text-align: center;
    padding-bottom: 50px;
}

.billingJumbotronInput {
    margin-top: 15px;
}

.billingJumbotronInfo {
    width: 500px;
}

#billingConfirm {
    text-align: center;
}

#billingConfirmButton {
    font-size: 30px;
    margin: 50px 0;
}

.billingCreateButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 24px;
}

.billingMainButton {
    position: fixed;
    right: 80px;
}

.billingAddBillButton {
    margin: 0 10px;
    font-size: 25px;
}

.billingAddBillImage {
    margin: 0 0 8px;
}
