#links {
    font-size: 20px;
    padding-top: 20px;
    background-color: white;
}

#name {
    font-size: 40px;
}


#logo {
    background: none;
    margin: 15px;
    height: 70px;
    width: auto;
}