#links {
    font-size: 20px;
    padding-top: 20px;
    background-color: white;
}

#name {
    font-size: 40px;
}

#navBar {
    height: 100px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #777777;
}

#logo {
    background: none;
    margin: 15px;
    height: 70px;
    width: auto;
}
