#profile {
    padding-left: 5%;
    padding-right: 2%;
}

.jumbo {
    padding-left: 7%;
    padding-right: 4%;
    padding-bottom: 5%;
    text-decoration: underline;
}

.form {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
}

.modify {
    margin-left: 25px;
    border: none;
    border-radius: 8px;
    background-color: #cdcdcd;
}

.modifyText {
    margin-left: 10px;
}

.title {
    font-size: 35px;
    padding-left: 70px;
    padding-right: 70px;
}

.name {
    font-size: 25px;
}

.input {
    padding-top: 5%;
}

.validate {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}
