.signupButton {
    background-color: #F4F5F7;
    padding-right: 10%;
    padding-left: 10%;
}

#signupForm {
    margin-top: 10%;
}

#carouselCol {
    padding-left: 0px;
}

#carousel {
    height: 93vh;
}

#carouselItem {
    height: 93vh;
}

#row {
    height: 93vh;
}

#image {
    object-fit: cover;
    height: 93vh;
}