@import "../node_modules/react-big-calendar/lib/css/react-big-calendar.css";

#navBarAccount {
    height: 100px;
    background-color: dimgray;
    border: none;
    border-bottom: 2px solid #777777;
}


#sideNav {
    height: 100%;
    width: 150px;
    border: none;
    border-bottom: 2px solid #777777;
    margin-top : 100px;
    background-color: dimgray;

}

#navText {
    text-align : center;
}

#splitSideBar {
    text-align : center;
    color: #f9dcdd;
}

#calendar {
    padding-top: 200px;
    padding-left: 150px;
    height: 800px;
    width: auto;
}
