.servicesRight{
    float: right;
    padding-left: 5%;
    padding-right: 20%;
    overflow: auto;
}

.servicesLeft{
    float: left;
    padding-left: 20%;
    padding-right: 10%;
    overflow: auto;
}

#deviceOne{
    padding-right: 25%;
    height: auto;
    width: 50%;
}

#deviceTwo{
    padding-left: 25%;
    height: auto;
    width: 40%;
}

#deviceThree{
    padding-right: 15%;
    height: auto;
    width: 55%;
}

#macbook, #ipad {
    border: 1px solid black;
    margin-bottom: 0;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: #DDDEDE;
}

#iphone {
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0;
    background-color: #F4F5F7;
}
